@tailwind base;
@tailwind components;
@tailwind utilities; 

html {
    font-family: "Castoro", sans-serif;
    font-size: 180%;
}

@screen lg {
    html {
        font-size: 125%;
    }
}

@layer components {
    body {
        @apply flex flex-col min-h-screen
    }

    header {
        @apply bg-black text-white min-h-[10%] p-3
    }

    main {
        @apply flex-1
    }
    
    footer {
        @apply bg-black text-white text-xs p-3
    }

    a {
        @apply underline
    }

    header a {
        @apply no-underline
    }
    
}
